@import url('./../../public/css/partials/_reset.css');
@import url('./../../public/css/partials/_variables.css');

:root {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

header {
    .container {
        height: 100px;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100px;
            padding: 1em;
        }

        ul {
            list-style: none;

            li {
                display: inline-block;
                margin: 1em;

                a {
                    line-height: calc(100px - 1em);
                    font-size: 0.7rem;
                    text-transform: uppercase;
                    display: inline-block;
                    text-decoration: none;
                    color: unset;
                }
            }
        }
    }
}

.active {
    color: #0282f9ff;

    a {
        border-bottom: 1em solid #0282f9ff;
    }
}

#jumbotron {
    height: 400px;
    background-image: url("./../../public/images/jumbotron.jpg");
    background-position-x: center;
}

#comics {
    background-color: #1c1c1cff;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    .container {
        position: relative;
        padding-top: 2.5em;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1em;

        .card {
            width: 150px;
            margin-bottom: 2.5em;

            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                object-position: top;
            }

            .serie {
                text-transform: uppercase;
                text-align: left;
                margin-top: 1em;
                font-size: 0.7rem;
            }
        }
    }

    #etichetta {
        background-color: var(--blue);
        font-size: 1.2rem;
        padding: 0.5em 1.5em;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
    }

    button {
        border: none;
        background-color: var(--blue);
        padding: 0.7em;
        color: white;
        width: 150px;
        cursor: pointer;
    }
}

footer {
    background-image: url("./../../public/images/footer-bg.jpg");

    .container {
        height: 350px;
        gap: 100px;

        #links {
            font-size: 14px;
            width: 50%;
            padding: 2.5em 0;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            gap: 1.5em;

            section {
                h1 {
                    color: white;
                    margin-bottom: 0.5em;
                    text-transform: uppercase;
                }

                ul {
                    list-style: none;

                    li {
                        line-height: 1.5em;
                    }

                    a {
                        text-decoration: none;
                        color: #5a6161ff;
                    }
                }
            }
        }

        img {
            width: 50%;
            object-fit: cover;
        }
    }
}



#bottombar {
    background-color: #303030ff;
    padding: 1em;

    .container {
        justify-content: space-between;
        align-items: center;

        #social {
            display: flex;
            align-items: center;
            gap: 1em;

            h1 {
                color: #0282f9ff;
                font-size: 1rem;
            }
        }
    }

    .container>a {
        text-decoration: none;
        color: white;
        border: 1px solid #0282f9ff;
        padding: 0.5em;
    }
}

#bluebar {
    background-color: #0282f9ff;
    padding: 3em;
    .container {
      justify-content: space-evenly;
      gap: 2em;
      .item {
        color: white;
        display: flex;
        gap: 1em;
        align-items: center;
        img {
          height: 50px;
          width: auto;
        }
        svg {
          width: 50px;
          fill: none;
          stroke: #fff;
          stroke-width: 1.7732;
          stroke-miterlimit: 10;
        }
      }
    }
  }