* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}:root {
    --blue: #0282f9ff;
}:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}

header .container {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

header .container img {
  width: 100px;
  padding: 1em;
}

header .container ul {
  list-style: none;
}

header .container ul li {
  display: inline-block;
  margin: 1em;
}

header .container ul li a {
  line-height: calc(100px - 1em);
  font-size: 0.7rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: unset;
}

.active {
  color: #0282f9;
}

.active a {
  border-bottom: 1em solid #0282f9;
}

#jumbotron {
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position-x: center;
}

#comics {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  padding-bottom: 1em;
}

#comics .container {
  position: relative;
  padding-top: 2.5em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

#comics .container .card {
  width: 150px;
  margin-bottom: 2.5em;
}

#comics .container .card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#comics .container .card .serie {
  text-transform: uppercase;
  text-align: left;
  margin-top: 1em;
  font-size: 0.7rem;
}

#comics #etichetta {
  background-color: var(--blue);
  font-size: 1.2rem;
  padding: 0.5em 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

#comics button {
  border: none;
  background-color: var(--blue);
  padding: 0.7em;
  color: white;
  width: 150px;
  cursor: pointer;
}

footer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
}

footer .container {
  height: 350px;
  gap: 100px;
}

footer .container #links {
  font-size: 14px;
  width: 50%;
  padding: 2.5em 0;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5em;
}

footer .container #links section h1 {
  color: white;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

footer .container #links section ul {
  list-style: none;
}

footer .container #links section ul li {
  line-height: 1.5em;
}

footer .container #links section ul a {
  text-decoration: none;
  color: #5a6161;
}

footer .container img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#bottombar {
  background-color: #303030;
  padding: 1em;
}

#bottombar .container {
  justify-content: space-between;
  align-items: center;
}

#bottombar .container #social {
  display: flex;
  align-items: center;
  gap: 1em;
}

#bottombar .container #social h1 {
  color: #0282f9;
  font-size: 1rem;
}

#bottombar .container > a {
  text-decoration: none;
  color: white;
  border: 1px solid #0282f9;
  padding: 0.5em;
}

#bluebar {
  background-color: #0282f9;
  padding: 3em;
}

#bluebar .container {
  justify-content: space-evenly;
  gap: 2em;
}

#bluebar .container .item {
  color: white;
  display: flex;
  gap: 1em;
  align-items: center;
}

#bluebar .container .item img {
  height: 50px;
  width: auto;
}

#bluebar .container .item svg {
  width: 50px;
  fill: none;
  stroke: #fff;
  stroke-width: 1.7732;
  stroke-miterlimit: 10;
}

